{
  "openapi": "3.1.0",
  "info": {
    "title": "DiscreteAPI",
    "version": "1.0.0",
    "description": "This endpoint detects emotions from short audio clips. You must include your API key and an audio file."
  },
  "servers": [
    {
      "url": "https://api.getvalenceai.com/"
    }
  ],
  "paths": {
    "/emotionprediction": {
      "post": {
        "summary": "Predict emotion from a short audio clip",
        "description": "Submit a short audio file and API key to receive an emotion prediction.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["file", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., missing file or API key)"
          },
          "401": {
            "description": "Unauthorized (invalid API key)"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PredictionResponse": {
        "type": "object",
        "properties": {
          "emotion": {
            "type": "string",
            "description": "Predicted emotion label (e.g., happy, sad, angry, neutral)"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Confidence score of the prediction"
          }
        },
        "required": ["emotion", "confidence"]
      }
    }
  }
}
